body {
    font-family: Consolas;
    padding: 20px;
    margin: center;
    
}
h1 {
    font-size: 36px;
    margin-bottom: 25px;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.label {
    min-width: 120px;
}

.range {
    min-width: 200px;
}

.text {
    margin-left: 10px;
    width: 50px;
}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid lightgrey;
    margin-top: 20px;
}