ul,
li {
    list-style-type: none;
}

.clickable {
    cursor: pointer
}

.deleteButton {
    color: white;
    font-weight: bold;
    background-color: red;
    margin-right: 10px;
    border-radius: 50%;
}

#displayRGB {
    font-size: 25px;
    font-weight: 25px;
    background-color:rgb(150, 250, 100);
}