ul,
li {
    list-style-type: none;
}

.clickable {
    cursor: pointer
}

.deleteButton {
    color: white;
    font-weight: bold;
    background-color: red;
    margin-right: 10px;
    border-radius: 50%;
}